<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Default Suite">
    <test name="LogInTest">
        <classes>
            <class name="LogInTest"/>
        </classes>
    </test>
    <test name="SetBackInStockReminderTest">
        <classes>
            <class name="SetBackInStockReminderTest"/>
        </classes>
    </test>
    <test name="AddToCartTest">
        <classes>
            <class name="AddToCartTest"/>
        </classes>
    </test>
</test>

</suite>
